<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
</head>
<body>
<canvas id="myCanvas" height="100%" width="100%" />
<script src="/socket.io/socket.io.js"></script>
<script>
(function() {
  var canvas = document.getElementById('myCanvas'),
          context = canvas.getContext('2d');

  // resize the canvas to fill browser window dynamically
  window.addEventListener('resize', resizeCanvas, false);

  function resizeCanvas() {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
  }
  resizeCanvas();
})();


    var id = 0;

    var entities = [];

    var canvas = myCanvas;
    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
            id: id,
            x: evt.clientX - rect.left,
            y: evt.clientY - rect.top
        };
    };


    // connect to game
    var socket = io.connect('http://localhost:8080/');
    var isRegistered = false;

    // wait for connected
    socket.on('connected', function (data) {
        console.log("Client is connected to server.");

        askToRegister();
        console.log("Trying to register for a player...");

        socket.on('authenticated', function (data) {
            isRegistered = true;
            id = data.id;
            console.log("Client is authenticated!\nCLIENT ID:"+id);

            $( "#myCanvas" ).mousemove(function(evt) {
                socket.emit('input', getPlayerInput(canvas, evt));
            });

            socket.on('game_data', function (data) {
                entities = data.data;
            });

            setInterval(function() {
                socket.emit('update', {});
            }, 20);
        });

        setInterval(function() {
            render();
        }, 20);
    });

    // Ask server to play the game
    function askToRegister() {
        socket.emit('register', {name: "Test"});
        setTimeout(function() {
          if (!isRegistered) {
            askToRegister();
          }
        }, 50);
    }

    // Get mouse input
    function getPlayerInput(canvas, evt) {
      var screen = canvas.getBoundingClientRect();
      var x = (evt.clientX - screen.left) - (screen.width / 2);
      var y = (evt.clientY - screen.top) - (screen.height / 2);
      var new_theta = Math.round(Math.atan2(y,x)*(180/Math.PI));
      if (new_theta < 0) Math.abs(new_theta += 360);
      if (new_theta == -0) new_theta = 0;
      return {
          id: id,
          theta: new_theta
      };
    }

    // Render
    function render() {
      var c=document.getElementById("myCanvas");
      var ctx=c.getContext("2d");
      ctx.lineWidth=5;
      ctx.lineJoin="round";
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      ctx.fillStyle="#000000";
      ctx.rect(0, 0, canvas.width, canvas.height);
      ctx.fill();
      ctx.strokeStyle="#00FF00";
      for (i = 0; i < entities.length; i++) {
          var obj = entities[i];
          var theta = obj.theta;
          var radius = 35;
          var radiansToDegrees = Math.PI / 180.0 ;
          var x = obj.x * .5 + (canvas.width / 2);
          var y = obj.y * .5 + (canvas.height / 2);

          var pointA_x = x + (radius * Math.cos(theta * radiansToDegrees));
          var pointA_y = y + (radius * Math.sin(theta * radiansToDegrees));

          var pointB_x = x + (radius * Math.cos((theta + 140) * radiansToDegrees));
          var pointB_y = y + (radius * Math.sin((theta + 140) * radiansToDegrees));

          var pointC_x = x + (radius * Math.cos((theta + 220) * radiansToDegrees));
          var pointC_y = y + (radius * Math.sin((theta + 220) * radiansToDegrees));

          ctx.beginPath();
          ctx.moveTo(pointA_x, pointA_y);
          ctx.lineTo(pointB_x, pointB_y);
          ctx.lineTo(pointC_x, pointC_y);
          ctx.lineTo(pointA_x, pointA_y);
          ctx.lineTo(pointB_x, pointB_y);
          ctx.stroke();
      }
    }

</script>
</body>
</html>
